{% assign bulletsCb = section.settings.features_txt_cb | split:'<br />' %}
{%- if section.settings.features_h3_cb != blank and section.settings.features_img_cb != blank -%}
<div class="featuresCb fullCb">
    <div class="featuresInnerCb sectionCb">
        <div class="features1Cb {{section.settings.img_align_cb}} featuresSectionCb">
            <div class="leftCb flexCenterCb">
                <h3>{{section.settings.features_h3_cb}}</h3>
                <ul>
                  {% for bulletCb in bulletsCb %}
                  <li>{{bulletCb}}</li>
                   {% endfor %}
                </ul>
            </div>
            <div class="rightCb">
                <picture>
                  <source srcset="{{ section.settings.features_img_cb  | img_url: '1024x768' }}" type="image/webp">
                  <source srcset="{{ section.settings.features_img_cb  | img_url: '1024x768' }}" type="image/jpeg"> 
                    <img src="{{ section.settings.features_img_cb  | img_url: '1024x768' }}" alt="">
                </picture>
            </div>                     
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "product_features_2_cb",
    "tag": "section",
    "settings": [
    {   
        "type":"header",
        "content": "Features section"
    },
	{   
    "id": "features_h3_cb",
    "type": "richtext",
    "label": "product feature h3"
    },
    {   
    "id": "features_txt_cb",
    "type": "richtext",
    "label": "product feature txt"
    },
    {   
    "id": "features_img_cb",
    "type": "image_picker",
    "label": "product feature image"
    },
    {
    "type": "select",
    "id": "img_align_cb",
    "label": "Image align",
    "default": "featuresGridCb",
    "options": [
    {
    "value": "featuresGridReverseCb",
    "label": "align left"
    },
    {
    "value": "featuresGridCb",
    "label": "align right"
    }
    ]
    }

]
}          
{% endschema %} 

